{% extends "base.html" %} {% block title %}Anasayfa{% endblock %}

{% block content %}
    <form class="form-inline justify-content-center mt-5 my-lg-0" method="post" action="{{url_for('views.searchHome')}}">
        
        <input class="form-control mr-sm-2" type="search" placeholder="Search by title" aria-label="Search" name="searched" >
        <button class="btn btn-outline-dark my-2 my-sm-0 text-light" type="submit">Search</button>

    </form>


    
    <ul style="color:black;" class="list-group list-group-flush p-auto m-auto" id="films">
        {% for f in films%}
        <br>
        <li style="border:1px solid black;" class="list-group-item">
            <h6> {{f.date}} </h6>
            <div class="container d-inline-flex p-2 flex-row d-flex">
                
                <div class="container">
                    <img style="height: 250px; width:250px;"  src="static/images/{{f.image_name}}" alt="Image" class="img-thumbnail">
                </div>
                <div class="container">
            
                    <h3>{{f.movieName}}</h3>
                    <h4>by {{f.directorName}}</h4>
                    <h5> {{f.rate}}<i class="fa-solid fa-star"></i></h5>
                    <p>
                        {{f.movieText}}
                        <h4>
                            {% for user in users%}
                                {%if user.id == f.user_id%}
                                    {{user.email}}
                                {%endif%}
                            {% endfor%}
                        </h4>
                    </p>
                </div>
            </div>
            
            <button type="button" class="close" onclick="deleteFilm({{ f.id }})">
                <span aria-hidden="true">&times</span>
            </button>
        </li>
        {% endfor %}
    </ul>



{% endblock %}