{% extends "base.html" %} {% block title %}Film Ekle{% endblock %}

{% block content %}

<h1 align ="center">Film Entry</h1>
<form method="POST" action="" enctype="multipart/form-data">

    <div class="form-group">
        <label for="movieName">Film :</label>
        <input
          type="text"
          class="form-control"
          id="movieName"
          name="movieName"
          placeholder="Film"
        />
    </div>

    <div class="form-group">
        <label for="directorName">Yönetmen : </label>
        <input
          type="text"
          class="form-control"
          id="directorName"
          name="directorName"
          placeholder="Yönetmen"
        />
        
    </div>

    <div class="form-group">
        <label for="movieText">Film Notları : </label>
        <textarea name="movieText" id="movieText" class="form-control" placeholder="Film hakkında fikirleriniz..." aria-describedby="textHelp"></textarea>
        <small id="textHelp" class="form-text text-muted" style="color: white !important;">Filmin sinematografisi,müzik seçimleri hakkında düşündüklerinizi ve film hakkında kendi yorumlarınızı yazabilirsiniz.</small>
    </div>

    <div class="form-group">

        <label for="input-1" class="control-label">Film Puanı :</label>
        <input id="input-1" name="input-1" class="rating rating-loading form-control" data-min="0" data-max="5" data-step="0.1" value="2" >
    
    </div>

    <div class="form-group">

        <label for="image" class="control-label">Resim :</label>
        <input type="file" id="image" name="image">

    
    </div>

    <br/>
    <div align ="center">
        <button type="submit" class="btn btn-primary">Film Ekle</button>
    </div>
</form>


<script>
    $("#input-id").rating();
</script>

{% endblock %}



